@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body {
  margin: 0;
  background: white;
  overflow-y: scroll; }

a {
  text-decoration: none;
  color: inherit; }
  a:focus {
    color: inherit; }

input:focus {
  outline: 0px; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px; }
  @media screen and (min-width: 1366px) {
    body {
      font-size: 20px; } }

input {
  font-size: 1rem; }

small {
  font-size: 0.85rem; }

h2 {
  font-size: 1.5rem; }

strong {
  font-weight: 700; }

.img-responsive, .logo {
  max-width: 100%;
  height: auto; }

.logo {
  margin: 20px; }

.container {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .container {
      height: 100vh;
      display: flex;
      align-items: stretch; } }
  @media screen and (min-width: 768px) {
    .container .col {
      width: 40%;
      display: flex;
      justify-content: center; } }
  .container .col .container {
    text-align: center;
    padding: 0 40px; }
    @media screen and (min-width: 768px) {
      .container .col .container {
        width: 320px;
        display: flex;
        flex-direction: column; } }
  @media screen and (min-width: 768px) and (min-height: 450px) {
    .container .col .container {
      justify-content: center; } }
  .container .col input, .container .col label {
    display: block;
    width: 100%;
    margin: 10px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .container .col label {
    text-align: left;
    margin-bottom: -5px; }
  .container .col input {
    padding: 10px 15px;
    border: 1px solid silver; }
  @media screen and (max-width: 767px) {
    .container .publi {
      display: none; } }
  @media screen and (min-width: 768px) {
    .container .publi {
      width: 60%;
      position: fixed;
      right: 0; }
      .container .publi .marco {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden; }
        .container .publi .marco:after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.4); }
        .container .publi .marco img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: right;
          -o-object-fit: cover;
          -o-object-position: right; }
          @supports (-ms-ime-align: auto) {
            .container .publi .marco img {
              width: 100vw;
              height: auto; } }
      .container .publi .info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: white;
        z-index: 20;
        position: absolute;
        bottom: 0px;
        left: 20px;
        right: 20px;
        top: 0; }
        .container .publi .info h2 {
          text-align: center;
          margin: 0 0 15px;
          font-weight: 400; } }

*[class^="btn"] {
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  color: white;
  margin: 15px 0;
  -webkit-transition: all 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s; }

.btn {
  background: #ff6815; }
  .btn:hover {
    background: #e15000; }
  .btn-img {
    display: inline-block;
    background: #1da1db;
    margin: 0; }
    .btn-img:hover {
      background: #1780ae; }

.link {
  color: #ff6815; }
  .link:hover {
    text-decoration: underline; }

.ayuda {
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 0; }
  .ayuda .msj.mobile {
    border: 1px solid silver;
    padding: 10px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }

.none {
  display: none !important; }
